* {
  margin: 0;
  padding: 0;
}

body {
  margin: 8px;
}

header {
  text-align: center;
}

/* Color pallet */
.main-content {
  position: absolute;
  margin: 50px 0 0 50%;
  transform: translateX(-50%);
  text-align: center;
}

#color-pallete {
  border: 1px solid red;
}

.color {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 10px;
}

/* Pixel Board */
#pixel-board {
  position: absolute;
  margin: 40px 0 0 50%;
  transform: translateX(-50%);
  width: 210px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: top;
}

#clear-board {
  margin-top: 10px;
}

#board-size {
  margin: 5px;
}

#generate-board {
  margin: 5px;
}
