h1{
 text-align: center;
}
#divPrincipal {
  text-align: center;
}
#color-palette{
  width: 400px;
  height: 75px;
  margin: auto;
}

#board-size {
  margin: auto;
}
  
.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  float: left;
  margin-left: 47px;
}
#pixel-board{
background-color: red;
margin: auto;
/* max-width: 294px; */
/* max-height: 294px; */
}
.pixel{
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  float: left;
}

#clear-board {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  /* display: flex; */
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}