#color-palette {
  float: left;
}

.color {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: inline-block;
}

.color:nth-of-type( 1 ) {
  background-color: green;
}

.color:nth-of-type( 2 ) {
  background-color: gold;
}

.color:nth-of-type( 3 ) {
  background-color: blue;
}

.color:nth-of-type( 4 ) {
  background-color: purple;
}
