body {
  text-align: center;
}

.color {
  border: solid 1px black;
  padding: 35px;
  margin-right: 5px;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

#pixel-board {
  margin-top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  padding: 20px;
  background-color: white;
  display: inline-block;
  margin-right: 5px;
  border: solid 1px black;
}

#clear-board {
  color: white;
  background-color: darkgreen;
}

#generate-board {
  color: white;
  background-color: darkgreen;
}

#board-size {
  width: 50px;
  margin-left: 10px;
  margin-right: 5px;
}
